DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=fsc
DATABASE_USER=fsc
DATABASE_PASSWORD=CHANGE_ME

POSTGRES_DB=fsc
POSTGRES_USER=fsc
POSTGRES_PASSWORD=CHANGE_ME

SECRET_KEY=CHANGE_ME

GEMINI_API_KEY=
OPENAI_API_KEY=
